<%- include ../partials/header %>
<%- include partials/nav %>
<div class="container">
  <div class="row">
  	<div class="col-md-6">

  dashboard
</div>
</div>
</div>
<%- include ../partials/footer %>
