<%- include partials/header %>
<%- include partials/nav %>
<div class="container">
  <div class="row">
  	<div class="col-md-6">
      <%
      var message= message || '';
      if (message.length > 0) { %>
               <div class="alert alert-danger"><%= message %></div>
           <% }  %>
  <form class="form-signin" method="POST" action="">
       
        <label for="inputcPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
       
        <label for="inputcPassword" class="sr-only">Password</label>
        <input type="password" name="cpassword" id="inputcPassword" class="form-control" placeholder="Confirm Password" required>
        
        <input type="hidden" name="uid" id="uid">

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
     
</div>
</div>
</div>
<%- include partials/footer %>
